* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    border: 2px solid black;
    margin: 5%;
    background-color: deepskyblue;
}

.generatebutton {
    width: 150px;
    margin: 0 auto;
    border: 1px solid black;
    height: 35px;
    border-radius: 10px;
    background-color: gold;
    font-weight: bold;
}

.contacts {
    margin-top: 50px;
    overflow: auto;
    height: 300px;
}

.email {
    width: 300px;
    margin: 0 auto;
    border: 1px solid lightgray;
    margin-top: 20px;
    border-radius: 5px;
}

.email:hover {
    background-color: lawngreen;
    transition: 0.3s;
}

.email p {
    text-align: center;
    margin: 15px;
    font-weight: bold;
}
